@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h2 class="text-danger">Geen toegang</h2>
    <b></b>
    <b></b>
    <p class="text-danger">U heeft geen toegang tot deze functionaliteiten.</p>
</header>
